.App {

  font-family: Inter,Thin,sans-serif;

  font-weight: normal; 

}
.App {
  background: linear-gradient(360deg, #c97149, #465cbe); /* Diagonal gradient */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.vocai {

  text-align: center;
/* Move up by 40 */
}

h1 {
  margin:   -25px 0 0; 

  font-weight: 200;
  font-size: 4em; /* Larger font for main heading */
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* App container styling */


/* Mode toggle switch styling */
.mode-toggle {
  margin: -5px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Switch slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c97149;
  transition: 0.4s;
  border-radius: 25px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3.5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #1d62e2;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

/* Button styling */
/* Transparent button styling */
.square {
  font-family: Inter,Thin,sans-serif;
  padding: 5px 20px; /* Adjust padding for a clean look */
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  background-color: transparent; /* Clear background */
  color: white;
  border: 1px solid white; /* Light border for clarity */
  border-radius: 5px; /* Rounded corners for a soft look */
  transition: background-color 0.3s, color 0.3s;
}

/* Hover effect for button */
.square:hover {

  background-color: rgba(255, 255, 255, 0.2); /* Slight color on hover */
  color: #fff; /* Keep text color white */
}
/* Clear style for the text box */
.text-box {
  font-family: Inter, Thin, sans-serif;
  width: 150%; /* Set to 100% or desired width */
  min-height: 35px;
  padding: 10px;
  border: none;
  outline: none; /* Remove outline */
  resize: none; /* Disables resizing */
  background-color: rgba(255, 255, 255, 0.1); /* Light, transparent background */
  color: rgb(218, 217, 217); /* Matches text color */
  font-size: 20px;
  border-radius: 12px; /* More rounded edges */
  transition: background-color 0.3s ease; /* Smooth transition on focus */
}

/* Change background on focus */
.text-box:focus {
  background-color: rgba(255, 255, 255, 0.2); /* Slightly darker background on focus */
}

/* Placeholder text styling */
.text-box::placeholder {
  color: rgba(255, 255, 255, 0.7); /* Lighter color for placeholder */

}
